import * as Styles from './styles';

export type {{pascalCase name}}Props = {
  title: string;
};

const {{pascalCase name}} = ({ title }: {{pascalCase name}}Props) => {
  return (
    <Styles.Wrapper>
      <h1>{{pascalCase name}}</h1>
      <h2>{title}</h2>
    </Styles.Wrapper>
  );
};

export default {{pascalCase name}};
